<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.idi.tecla.framework"
    android:versionCode="10"
    android:versionName="10" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="10" />

    <application>
    </application>

</manifest>