<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.idi.tekla"
    android:versionCode="39"
    android:versionName="1.0.7" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="10" >
    </uses-sdk>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>

    <application
        android:name=".TeclaApp"
        android:icon="@drawable/tecla_icon"
        android:label="@string/english_ime_name" >
        <activity
            android:name=".TeclaPrefs"
            android:label="@string/english_ime_settings"
            android:noHistory="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeclaSplash"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" >
        </activity>
        <activity
            android:name=".TeclaVoiceInput"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.VOICE_COMMAND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".ime.TeclaIME"
            android:label="@string/english_ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <!-- ENTRIES BELOW BELONG TO NEW FRAMEWORK ARCHITECTURE -->
        <service
            android:name="ca.idi.tecla.framework.TeclaShieldService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="ca.idi.tecla.framework.TECLA_SHIELD_SERVICE" />
            </intent-filter>
        </service>

        <receiver android:name="ca.idi.tecla.framework.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service
            android:name="ca.idi.tecla.framework.SwitchEventProvider"
            android:enabled="true" >
            <intent-filter>
                <action android:name="ca.idi.tecla.framework.SWITCH_EVENT_PROVIDER" />
            </intent-filter>
        </service>
    </application>

</manifest>